body{
margin: 0;
padding: 0;
height: 100%;
width: 100%;

}
.page{

	height: auto;
}

footer{
background-color: #333;
padding-bottom: 30px;
padding-top: 30px;
text-align: center;
display: block;
bottom:0;
}
header{
	background-color: green;
	z-index: 1000;
}
.navbar-default {
background-color: #287524;
}
.navbar-brand {
	color: white;
float: left;
height: 60px;
padding: 15px 15px;
font-size: 36px;
line-height: 20px;
}
.navbar-default .navbar-brand {
color: white;
}
.navbar-default .navbar-brand:hover{
	text-decoration: none;
	color:white;

}

.navbar-default .navbar-nav > li > a {
color: white;
}
.navbar-default {
	border-color: transparent;
	background-color: #287524;
	position: fixed;
	width: 100%;


}
.navbar{
	border-radius: 0px;
}

.subscribe{
margin: 30px;
color: inherit;
background-color: #eee;
padding:10px;
padding-top:15px;
border-color: 
}
@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
        background-color: #287524;
        color: white;
       }
}
.dropdown-menu > li > a {
	color: white;
	font-size: 18px;
}
.nav >li > a{
	font-size: 18px;
}
.navbar-default .navbar-nav > li > a:hover{
    color: white;
}
h2{
	color:white;
}

